.nav{
    grid-area: n;
    background-color: green;
}

.item{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.item a {
    color: white;
    text-decoration: none;
}

.active{
    color:gold;
}